<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<lang:groovy id="soundAlarmBean" script-source="classpath:SoundAlarm.groovy" >
		<lang:property name="model" value="Quartz"></lang:property>
	</lang:groovy>

	<bean id="doorBean" class="com.groovyWithSpring.Door">
		<property name="alarm" ref="soundAlarmBean"></property>
	</bean>
</beans>
