<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
	<jee:remote-slsb business-interface="com.ejbChapter.WeatherReporter" jndi-name="coolReporter2" id="weatherReporterBean">
		<jee:environment>
			java.naming.factory.initial=org.jnp.interfaces.NamingContextFactory
			java.naming.factory.url.pkgs=org.jboss.naming:org.jnp.interfaces
			java.naming.provider.url=localhost
		</jee:environment>
	</jee:remote-slsb>
	<!-- 
	 <bean id="weatherReporterBean" class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean">
	 	<property name="jndiName" value="coolReporter"></property>
	 	<property name="businessInterface" value="com.ejbChapter.WeatherReporter"></property>
	 	<property name="jndiEnvironment">
	 		<props>
	 			<prop key="java.naming.factory.initial">org.jnp.interfaces.NamingContextFactory</prop>
	 			<prop key="java.naming.factory.url.pkgs">org.jboss.naming:org.jnp.interfaces</prop>
	 			<prop key="java.naming.provider.url">localhost</prop>	
	 		</props>
	 	</property>
	 </bean>
	  -->

</beans>
